{% extends 'base.html.twig' %}

{% block title %}Hello RealmController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-10 offset-1">
            <h1>Index serveur EU</h1>
            <a class="btn btn-info mb-2" href="{{ path('character_new') }}">Ajouter un personnage</a>
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Niveau</th>
                    <th>Serveur</th>
                    <th>Ilvl</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for profile in profiles %}
                    <tr>
                        <td>
                            <a href="{{ path('profile_show', {'id': profile.id}) }}">
                                <span style="color: {{ profile.characterClass.color }}">{{ profile.name }}</span>
                            </a>
                            <a href="https://wowanalyzer.com/character/EU/{{ profile.realm.name }}/{{ profile.name }}/" target="_blank">
                                <img src="{{ asset('images/analyzer.png') }}" alt="" style="width: 6%">
                            </a>
                            <a href="https://worldofwarcraft.com/fr-fr/character/eu/{{ profile.realm.slug }}/{{ profile.name }}" target="_blank">
                                <img src="{{ asset('images/armory-logo.png') }}" alt="" style="width: 6%">
                            </a>
                        </td>
                        <td>{{ profile.level }}</td>
                        <td>{{ profile.realm.name }}</td>
                        <td>{{ profile.equippedItemLevel }}</td>
                        <td>
                            <a href="{{ path('profile_update', {'id': profile.id}) }}">mettre à jour</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
