{% extends 'base.html.twig' %}

{% block title %}Favorite index{% endblock %}

{% block body %}
    <h1>Tes favoris</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Lien</th>
                <th>Intitulé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for favorite in favorites %}
            <tr>
                <td>{{ favorite.link }}</td>
                <td>{{ favorite.title }}</td>
                <td>
                    <a href="{{ path('favorite_show', {'id': favorite.id}) }}">voir</a>
                    <a href="{{ path('favorite_edit', {'id': favorite.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun favori</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('favorite_new') }}">Créer un nouveau favori</a>
{% endblock %}
